<<<<<<< HEAD
# Agent0 — baseline (K=1, n=1, déterministe)
name: "Agent0"
env_name: "CartPole-v1"
K: 1
n_steps: 1
stochastic_rewards: false
lr_actor: 0.00001
lr_critic: 0.001
gamma: 0.99
max_steps: 500000
entropy_coef: 0.01
eval_freq: 20000
=======
#agent0
# configs/agent0.yaml
K: 1
n_steps: 1
stochastic_rewards: false
lr_actor: 1e-5
lr_critic: 1e-3
gamma: 0.99
>>>>>>> origin/aziz


